.picture-container {
  position: relative;
  min-width: 200px;
  min-height: 200px;
  width: 15vw;
  height: 15vw;
  margin: 50px;
}

.picture-container::before {
  position: absolute;
  border-radius: 50%;

  transform: scale(1.42);
}

.picture-container .picture-spin-container {
  position: relative;
  width: 100%;
  height: 100%;

  animation: picture-spin 12s linear infinite;
}

.picture-container .picture-spin-container .picture-shape {
  position: absolute;
  width: 100%;
  height: 100%;

  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  overflow: hidden;

  animation: picture-morph 8s ease-in-out infinite both alternate;
  transition: border-radius 1s ease-out;
}

.picture-container .picture-spin-container .picture-shape .picture {
  position: absolute;
  width: 142%;
  height: 142%;
  left: -21%;
  top: -21%;

  overflow: visible;

  animation: picture-spin 12s linear infinite reverse;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.picture-container .picture-spin-container .picture-shape .picture .picture-ripple {
  position: absolute;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

@keyframes picture-morph {
  0% {
    border-radius: 40% 60% 60% 40%/60% 30% 70% 40%;
  }

  100% {
    border-radius: 40% 60%;
  }
}

@keyframes picture-spin {
  to {
    transform: rotate(1turn);
  }
}