#pointer, #cursor {
    position: fixed;

    background: #fe3218;
    border-radius: 50%;

    pointer-events: none;
    z-index: 100;
}

#pointer {
    top: -15px;
    left: -15px;
    width: 10px;
    height: 10px;
}

#cursor {
    top: -2rem;
    left: -2rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #fe3218;
}

#cursor.normal, #cursor.hand {
    font-size: 0rem;
}

#cursor.normal, #cursor.hand, #cursor.click {
    transition: width .2s, height .2s, font-size .1s linear;
}

#cursor.normal {
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
}

#cursor.hand {
    width: 3rem;
    height: 3rem;
    background: rgba(254, 50, 24, .2);
}

#cursor.click {
    width: 5.5rem;
    height: 5.5rem;
    font-size: 2rem;
    background: #fe3218;
}

#cursor.click #pointer {
    background: transparent;
}

.cursor-text {
    transform: translate(0, 50%);
    font-family: 'Nunito', serif;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    pointer-events: none;
}

#cursor.normal #click,
#cursor.hand #click {
    display: none;
}