#pointer, #cursor {
    position: fixed;

    background: #fe3218;
    border-radius: 50%;

    pointer-events: none;
    z-index: 100;
}

#pointer {
    top: -15px;
    left: -15px;
    width: 10px;
    height: 10px;
}

#cursor {
    top: -2rem;
    left: -2rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #fe3218;
    text-align: center;

    transition: width .2s, height .2s, transform .5s, font-size .1s linear;
}

#cursor .cursor-text,
#cursor .cursor-icon {
    line-height: 5.5rem;
    font-weight: bold;
    color: #FFF;

    pointer-events: none;
}

#cursor .cursor-icon {
    font-size: 2rem;
}

#cursor .cursor-text {
    font-family: 'Nunito', serif;
}

#cursor #move .cursor-icon {
    position: absolute;
}

#cursor #move .cursor-icon:first-child {
    transform: translate(-50%, -11%);
}

#cursor #move .cursor-icon:last-child {
    transform: translate(-50%, 11%);
}

#pointer.normal #cursor,
#pointer.hand #cursor {
    font-size: 0rem;
}

#pointer.normal #cursor {
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
}

#pointer.hand #cursor {
    top: -4.5rem;
    left: -4.5rem;
    width: 3rem;
    height: 3rem;
    background: rgba(254, 50, 24, .2);
}

#pointer:not(.click) #cursor #click ,
#pointer:not(.move) #cursor #move { 
    display: none;
}

#pointer.click #cursor,
#pointer.move #cursor {
    top: -7rem;
    left: -7rem;
    width: 5.5rem;
    height: 5.5rem;
}

#pointer.click #cursor {
    background: rgba(254, 50, 24, .5);
    transform: translate(-3rem, 4rem);

    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

#pointer.move #cursor {
    background: rgb(254, 50, 24);
    transform: translateX(-5rem);
}