@import url(./pages/01_landing-page.css);
@import url(./pages/02_connect-social.css);
@import url(./pages/03_skills.css);

body,
html {
  position: absolute;
  margin: 0;
  padding: 0;

  overflow: hidden;
  background: #080808;
}

.title {
  margin: 50px;

  font-family: "Cutive Mono", monospace;
  font-size: 6em;
  font-weight: 900;
  line-height: 1.15;
  text-align: center;

  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

.text {
  font-family: "Cutive Mono", monospace;
  font-size: 2em;
}

.title,
.text,
a:link,
a:visited,
a:hover,
a:active {
  color: #fff;
}

.title .mark,
.title.mark {
  padding: 0 10px;
  border-radius: 5px;

  text-align: center;
  text-indent: 5px;
  letter-spacing: 5px;
}

.text .mark,
.text.mark {
  padding: 0 10px;
  border-radius: 2px;
}

.title .mark,
.text .mark,
.title.mark,
.text.mark {
  color: #080808;
  background: #fffc center;
}

.text .bold,
.text.bold {
  font-weight: bolder;
}

.spacer {
  position: relative;
  width: 100%;

  aspect-ratio: 960/300;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.scramble {
  opacity: 0.15;
}

.picture-container {
  position: relative;
  min-width: 200px;
  min-height: 200px;
  width: 15vw;
  height: 15vw;
  margin: 50px;
}

.picture-container::before {
  position: absolute;
  border-radius: 50%;

  transform: scale(1.42);
}

.picture-container .picture-spin-container {
  position: relative;
  width: 100%;
  height: 100%;

  animation: picture-spin 12s linear infinite;
}

.picture-container .picture-spin-container .picture-shape {
  position: absolute;
  width: 100%;
  height: 100%;

  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  overflow: hidden;

  animation: picture-morph 8s ease-in-out infinite both alternate;
  transition: border-radius 1s ease-out;
}

.picture-container .picture-spin-container .picture-shape .picture {
  position: absolute;
  width: 142%;
  height: 142%;
  left: -21%;
  top: -21%;

  overflow: visible;

  animation: picture-spin 12s linear infinite reverse;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.picture-container
  .picture-spin-container
  .picture-shape
  .picture
  .picture-ripple {
  position: absolute;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

@keyframes picture-morph {
  0% {
    border-radius: 40% 60% 60% 40%/60% 30% 70% 40%;
  }

  100% {
    border-radius: 40% 60%;
  }
}

@keyframes picture-spin {
  to {
    transform: rotate(1turn);
  }
}

@media (prefers-color-scheme: light) {
  body,
  html {
    background: #f2f2f2;
  }

  .title,
  .text,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #000;
  }

  .title .mark,
  .text .mark {
    color: #f2f2f2;
    background: #000c center;
  }
}

::-moz-selection {
  background: #fe3218;
}

::selection {
  background: #fe3218;
}
