@import url(./pages/01_landing-page.css);
@import url(./pages/02_connect-social.css);
@import url(./pages/03_skills.css);

:root {
  /* color-scheme: dark light; */

  --foreground-dark-rgb: 255, 255, 255; /* #FFFFFF */
  --background-dark-rgb: 008, 008, 008; /* #080808 */
  
  --foreground-light-rgb: 000, 000, 000; /* #000000 */
  --background-light-rgb: 242, 242, 242; /* #F2F2F2 */

  --background-colored-rgb: 005, 000, 046; /* #05002e */

  --accent-1-rgb: 069, 014, 255; /* #450eff */
  --accent-2-rgb: 254, 050, 024; /* #fe3218 */
  --accent-3-rgb: 033, 000, 111; /* #21006f */
  --accent-4-rgb: 211, 040, 041; /* #d32829 */
  --accent-5-rgb: 017, 000, 060; /* #11003c */

  --mark-alpha: 0.8;
}

html:not([light]) {
  color-scheme: dark;
  --background-rgb: var(--background-dark-rgb);
  --foreground-rgb: var(--foreground-dark-rgb);
}

html[light] {
  color-scheme: light;
  --background-rgb: var(--background-light-rgb);
  --foreground-rgb: var(--foreground-light-rgb);
}

body,
html {
  position: absolute;
  margin: 0;
  padding: 0;

  overflow: hidden;
  background: rgb(var(--background-rgb));
}

.title {
  margin: 50px;

  font-family: "Cutive Mono", monospace;
  font-size: 6em;
  font-weight: 900;
  line-height: 1.15;
  text-align: center;

  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

.text {
  font-family: "Cutive Mono", monospace;
  font-size: 2em;
}

.title,
.text,
a:link,
a:visited,
a:hover,
a:active {
  color: rgb(var(--foreground-rgb));
}

.title .mark,
.title.mark {
  text-align: center;
  text-indent: 5px;
  letter-spacing: 5px;
}

.title .mark,
.text .mark,
.title.mark,
.text.mark {
  padding: 0 10px;
  border-radius: 5px;
  color: rgb(var(--background-rgb));
  background: rgba(var(--foreground-rgb), var(--mark-alpha));

  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.text .bold,
.text.bold {
  font-weight: bolder;
}

.spacer {
  position: relative;
  width: 100%;

  aspect-ratio: 960/300;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text-nowrap {
  white-space: nowrap;
}

::selection, ::-moz-selection {
  background: rgb(var(--accent-2-rgb));
}