body, html {
    position: absolute;
    overflow-x: hidden;
    margin: 0;
    padding: 0;

    background: #05002E;
}

::-moz-selection {
  background: #fe3218;
}

::selection {
    background: #fe3218;
}