:root {
  --cursor-color: rgb(var(--accent-2-rgb));
  --cursor-text-color: rgb(var(--foreground-dark-rgb));
}

span.ripple {
  position: absolute;
  border-radius: 50%;

  transform: scale(0);
}

#pointer,
#cursor {
  position: fixed;
  top: -50%;
  left: -50%;

  border-radius: 50%;
  background: var(--cursor-color);

  pointer-events: none;
  z-index: 100;
}

#pointer {
  width: 10px;
  height: 10px;
}

#cursor {
  width: 1.5rem;
  height: 1.5rem;

  border: 2px solid var(--cursor-color);
  text-align: center;

  transition: width 0.2s, height 0.2s, transform 0.5s, font-size 0.1s linear;
}

#cursor .cursor-text,
#cursor .cursor-icon {
  line-height: 5.5rem;
  font-weight: bold;
  color: var(--cursor-text-color);

  pointer-events: none;
}

#cursor .cursor-icon {
  font-size: 2rem;
}

#cursor .cursor-text {
  font-family: "Nunito", serif;
}

#cursor #cursor_move .cursor-icon {
  position: absolute;
}

#cursor #cursor_move .cursor-icon:first-child {
  transform: translate(-50%, -11%);
}

#cursor #cursor_move .cursor-icon:last-child {
  transform: translate(-50%, 11%);
}

#pointer.cursor-style-normal #cursor,
#pointer.cursor-style-hand #cursor {
  font-size: 0rem;
}

#pointer.cursor-style-normal #cursor {
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
}

#pointer.cursor-style-hand #cursor {
  width: 3rem;
  height: 3rem;
  top: -4.5rem;
  left: -4.5rem;

  background: transparent;
}

#pointer:not(.cursor-style-click) #cursor #cursor_click,
#pointer:not(.cursor-style-move_down) #cursor #cursor_move_down,
#pointer:not(.cursor-style-move) #cursor #cursor_move,
#pointer:not(.cursor-style-visit) #cursor #cursor_visit,
#pointer:not(.cursor-style-me) #cursor #cursor_me {
  display: none;
}

#pointer.cursor-style-click #cursor,
#pointer.cursor-style-move_down #cursor,
#pointer.cursor-style-move #cursor,
#pointer.cursor-style-visit #cursor,
#pointer.cursor-style-me #cursor {
  width: 5.5rem;
  height: 5.5rem;
  top: -7rem;
  left: -7rem;
}

#pointer.cursor-style-click #cursor {
  transform: translate(-3rem, 4rem);
}

#pointer.cursor-style-move #cursor {
  transform: translateX(-5rem);
}

#pointer.cursor-style-move_down #cursor {
  transform: translateY(5rem);
}

#pointer.cursor-style-visit,
#pointer.cursor-style-me {
  background: transparent;
}
