body,html {
    margin: 0;
    padding: 0;
}

#under-construction {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: 'Noto Sans', serif;
    background: #05002E;
}

#under-construction img {
    min-height: 200px;
    height: 50vh;
}

#under-construction h1 {
    color: #FFF;
    font-size: calc(16pt + 2vw);
}