:root {
  --header-background-rgb: rgb(var(--background-dark-rgb, var(--background-rgb)));
  --header-foreground-rgb: rgb(var(--foreground-dark-rgb, var(--foreground-rgb)));

  --profile-picture-color: #1c3334;
}

#landing-page {
  height: 100vh;
  width: 100vw;
  font-family: "Noto Sans", serif;
  background: rgb(var(--background-colored-rgb));
}

#landing-page .bg-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/* TODO */
/* #landing-page .ripple-transition {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    z-index: 2;
}

#landing-page .ripple-transition span.ripple {
    position: absolute;
    width: 100vw;
    height: 100vw;

    background: #05002E;
}

#landing-page .ripple-transition>*:not(span) {
    z-index: 3;
}

#landing-page .ripple-transition progress {
    height: 15px;
    min-width: 300px;
    width: 40%;
    margin-top: 5vh;
    padding: 3px;

    border-radius: 13px;

    color: #fe3218;
    background-color: white;
}

#landing-page .ripple-transition progress::-moz-progress-bar {
    background-color: #fe3218;
    border-radius: 10px;
}

#landing-page .ripple-transition progress::-webkit-progress-bar {
    background-color: white;
    border-radius: 13px;
}

#landing-page .ripple-transition progress::-webkit-progress-value {
    background-color: #fe3218;
    border-radius: 10px;
}

#landing-page .ripple-transition h1 {
    width: 400px;
    margin-top: 5vh;

    color: white;
    text-align: center;
}

@media screen and (orientation: portrait) {
    #landing-page .ripple-transition span.ripple {
        width: 50vh;
        height: 50vh;
    }
} */

/*#region Header*/

#landing-page .header {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#landing-page .header .title {
  color: var(--header-foreground-rgb);
}

#landing-page .header .title .mark {
  color: var(--header-background-rgb);
  background: var(--header-foreground-rgb);
  opacity: var(--mark-alpha);

  padding: 0;
  border-radius: 0;
}

/*#region HeaderBackground*/

#landing-page .header .bg-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#landing-page .header .bg-container .bg-grid {
  height: 80%;
  width: 40%;

  display: grid;
  grid-template: repeat(12, 1fr);
  gap: 32px;

  transform: rotate(-20deg);
}

#landing-page .header .bg-container .bg-grid .bg-item {
  border-radius: 10px;
  opacity: 0.7;
}

#landing-page .header .bg-container .bg-grid .bg-item:nth-child(1) {
  grid-area: 1/1/7/5;
  background: rgb(var(--accent-1-rgb));
}

#landing-page .header .bg-container .bg-grid .bg-item:nth-child(2) {
  grid-area: 7/1/12/9;
  background: rgb(var(--accent-2-rgb));
}

#landing-page .header .bg-container .bg-grid .bg-item:nth-child(3) {
  grid-area: 7/9/13/13;
  background: rgb(var(--accent-3-rgb));
}

#landing-page .header .bg-container .bg-grid .bg-item:nth-child(4) {
  grid-area: 2/5/7/13;
  background: rgb(var(--accent-4-rgb));
}

/*#endregion HeaderBackground*/

/*#endregion Header*/

/*#region Biography*/

#landing-page .biography {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#landing-page .biography .profile {
  height: 50%;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#landing-page
  .biography
  .profile
  .picture-container
  .picture-spin-container
  .picture-shape
  .picture {
  background: url(../../assets/profile.jpg);
  background-color: var(--profile-picture-color);
  background-size: 80%;
  background-position: 60% 0%;
}

#landing-page .biography .profile .text {
  width: 50%;
}

/*#region BiographyBackground*/

#landing-page .biography .bg-container {
  display: flex;
  justify-content: center;
  opacity: 0.3;
}

#landing-page .biography .bg-container .bg-bubbles {
  position: absolute;
  height: 100vh;
  width: 90%;
}

#landing-page .biography .bg-container .bg-bubbles li {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  bottom: -30vh;

  border-radius: 3px;
  background: rgb(var(--foreground-rgb));
  overflow: hidden;

  opacity: 0.15;

  list-style: none;
  animation: bg-bubbles 25s linear infinite;
}

#landing-page .biography .bg-container .bg-bubbles li:nth-child(1) {
  left: 10%;
}

#landing-page .biography .bg-container .bg-bubbles li:nth-child(2) {
  width: 80px;
  height: 80px;
  left: 20%;

  animation-delay: 2s;
  animation-duration: 17s;
}

#landing-page .biography .bg-container .bg-bubbles li:nth-child(3) {
  left: 25%;
  animation-delay: 4s;
}

#landing-page .biography .bg-container .bg-bubbles li:nth-child(4) {
  width: 60px;
  height: 60px;
  left: 40%;

  opacity: 0.25;

  animation-duration: 22s;
}

#landing-page .biography .bg-container .bg-bubbles li:nth-child(5) {
  left: 70%;
}

#landing-page .biography .bg-container .bg-bubbles li:nth-child(6) {
  width: 120px;
  height: 120px;
  left: 80%;

  opacity: 0.2;

  animation-delay: 3s;
}

#landing-page .biography .bg-container .bg-bubbles li:nth-child(7) {
  width: 160px;
  height: 160px;

  left: 32%;

  animation-delay: 7s;
}

#landing-page .biography .bg-container .bg-bubbles li:nth-child(8) {
  width: 20px;
  height: 20px;

  left: 55%;

  animation-delay: 15s;
  animation-duration: 40s;
}

#landing-page .biography .bg-container .bg-bubbles li:nth-child(9) {
  width: 10px;
  height: 10px;
  left: 25%;

  opacity: 0.3;

  animation-delay: 2s;
  animation-duration: 40s;
}

#landing-page .biography .bg-container .bg-bubbles li:nth-child(10) {
  width: 160px;
  height: 160px;
  left: 90%;

  animation-delay: 11s;
}

@keyframes bg-bubbles {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-150vh) rotate(600deg);
  }
}

/*#endregion BiographyBackground*/

/*#endregion Biography*/

@media only screen and (max-width: 1400px) {
  #landing-page .biography .profile .text {
    width: 60%;
  }
}

@media only screen and (max-width: 1200px) {
  #landing-page .biography .profile {
    flex-direction: column;
  }

  #landing-page .biography .profile .text {
    width: 80%;
  }

  /* TODO: small screens & portrait mode */
  /* Background grid looks good up to a screen width 900px */
}
