:root {
  --header-background-rgb: rgb(var(--background-dark-rgb, var(--background-rgb)));
  --header-foreground-rgb: rgb(var(--foreground-dark-rgb, var(--foreground-rgb)));

  --profile-picture-color: #1c3334;
}

#landing-page {
  height: 100vh;
  width: 100vw;
  font-family: "Noto Sans", serif;
  background: rgb(var(--background-colored-rgb));
}

#landing-page .bg-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/*#region Header*/

#landing-page .header {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#landing-page .header .title {
  color: var(--header-foreground-rgb);
}

#landing-page .header .title .mark {
  color: var(--header-background-rgb);
  background: var(--header-foreground-rgb);
  opacity: var(--mark-alpha);

  padding: 0;
  border-radius: 0;
}

#landing-page .header .title .mark_first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
}

#landing-page .header .title .mark_last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 10px;
}

/*#region HeaderBackground*/

#landing-page .header .bg-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#landing-page .header .bg-container .bg-grid {
  height: 80%;
  width: 40%;

  display: grid;
  grid-template: repeat(12, 1fr);
  gap: 32px;

  transform: rotate(-20deg);
}

#landing-page .header .bg-container .bg-grid .bg-item {
  border-radius: 10px;
  opacity: 0.7;
}

#landing-page .header .bg-container .bg-grid .bg-item:nth-child(1) {
  grid-area: 1/1/7/5;
  background: rgb(var(--accent-1-rgb));
}

#landing-page .header .bg-container .bg-grid .bg-item:nth-child(2) {
  grid-area: 7/1/12/9;
  background: rgb(var(--accent-2-rgb));
}

#landing-page .header .bg-container .bg-grid .bg-item:nth-child(3) {
  grid-area: 7/9/13/13;
  background: rgb(var(--accent-3-rgb));
}

#landing-page .header .bg-container .bg-grid .bg-item:nth-child(4) {
  grid-area: 2/5/7/13;
  background: rgb(var(--accent-4-rgb));
}

/*#endregion HeaderBackground*/

/*#endregion Header*/

/*#region Biography*/

#landing-page .biography {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#landing-page .biography .profile {
  height: 50%;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#landing-page
  .biography
  .profile
  .picture-container
  .picture-spin-container
  .picture-shape
  .picture {
  background: url(../../assets/profile.jpg);
  background-color: var(--profile-picture-color);
  background-size: 80%;
  background-position: 60% 0%;
}

#landing-page .biography .profile .text {
  width: 50%;
}

#landing-page .biography .bg-container {
  height: calc(100% + 30vh);
  opacity: 0.2;
}

/*#endregion Biography*/

@media only screen and (max-width: 1400px) {
  #landing-page .biography .profile .text {
    width: 60%;
  }
}

@media only screen and (max-width: 1200px) {
  #landing-page .biography .profile {
    flex-direction: column;
  }

  #landing-page .biography .profile .text {
    width: 80%;
  }

  /* TODO: small screens & portrait mode */
  /* Background grid looks good up to a screen width 900px */
}
