/*#region SocialMedia*/

.spacer.social {
    margin-top: -15vh;
    background-image: url(../../assets/spacer-social.svg);
}

#connect-social {
    position: relative;

    /* Fix glitching because of smooth scroll */
    margin-top: -1px;

    padding: 5vh;
    background: #0C0032;

    display: flex;
    align-items: center;
    justify-content: center;
}

#connect-social .title,
#connect-social .text {
    color: #FFF;
}

#connect-social .title .mark {
    color: #080808;
    background: #FFFC;
}

#connect-social .container {
    height: 50vh;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 10fr 1fr) 10fr;

    border-radius: 5px;
    overflow: hidden;
}

#connect-social a {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

#connect-social .container .text.tag {
    font-size: 1.5rem;
    padding: 15px;
    text-decoration: underline;
}

#connect-social .container .text:not(.tag) {
    font-family: 'Nunito', serif;
}

#connect-social .social-spacer {
    position: relative;
    height: 100%;

    aspect-ratio: 20/200;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#connect-social .social-spacer.github-insta {
    background-image: url(../../assets/spacer-github_insta.svg);
}

#connect-social .social-spacer.insta-twitter {
    background-image: url(../../assets/spacer-insta_twitter.svg);
}

#connect-social .media {
    position: relative;
    padding: 10%;
    margin: 0 -1px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

#connect-social .media .logo {
    width: 50%;
    height: 0;
    padding-bottom: 50%;

    -webkit-mask: no-repeat center;
    mask: no-repeat center;

    background-color: white;
}

#connect-social .media.github {
    background: #1b1f23;
}

#connect-social .media.github .logo {
    -webkit-mask-image: url(../../assets/github.svg);
    mask-image: url(../../assets/github.svg);
}

#connect-social .media.instagram {
    background: #E4405F;
}

#connect-social .media.instagram .logo {
    -webkit-mask-image: url(../../assets/instagram.svg);
    mask-image: url(../../assets/instagram.svg);
}

#connect-social .media.twitter {
    background: #1DA1F2;
}

#connect-social .media.twitter .logo {
    -webkit-mask-image: url(../../assets/twitter.svg);
    mask-image: url(../../assets/twitter.svg);
}

/*#endregion SocialMedia*/