:root {
    --title-color: #FFFFFF;
    --title-bold-color: #000000;
    --title-bold-background: #FFFFFFCC;
}

#landing-page {
    height: 100vh;
    width: 100vw;

    font-family: 'Noto Sans', serif;
} 

#landing-page .bg-container {
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

#landing-page .bg-container .bg-grid {
    height: 80%;
    width: 40%;
    
    display: grid;
    grid-template: repeat(12, 1fr);
    gap: 32px;

    transform: rotate(-20deg);
}

#landing-page .bg-container .bg-grid .bg-item {
    border-radius: 10px;
    opacity: .7;
}

#landing-page .bg-container .bg-grid .bg-item.item-1 {
    grid-area: 1/1/7/5;
    background: #450eff;
}

#landing-page .bg-container .bg-grid .bg-item.item-2 {
    grid-area: 2/5/7/13;
    background: #d32829;
}

#landing-page .bg-container .bg-grid .bg-item.item-3 {
    grid-area: 7/1/12/9;
    background: #fe3218;
}

#landing-page .bg-container .bg-grid .bg-item.item-4 {
    grid-area: 7/9/13/13;
    background: #21006f;
}

#landing-page .header {
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;
}

#landing-page .biography {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;

    opacity: 0;
}

#landing-page .biography .profile {
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#landing-page .biography .profile img {
    min-width: 200px;
    min-height: 200px;
    width: 15vw;
    height: 15vw;
    margin: 50px;

    object-fit: cover;
    object-position: 0 50%; /* Customize according to the picture */
    border-radius: 50%;   

    -webkit-user-select: none;
    user-select: none;
}

#landing-page .biography .profile .text {
    font-family: 'Cutive Mono', monospace;
    width: 50vw;

    font-size: 2rem;
    text-align: justify;

    color: #FFF
}

#landing-page .biography .profile .text .bold {
    font-weight: bold;
}

#landing-page .biography .profile .text .mark {
    padding: 0 4px;
    color: #000;

    background: #FFFC center;
}

#landing-page .biography .profile .text a:link,
#landing-page .biography .profile .text a:visited,
#landing-page .biography .profile .text a:hover,
#landing-page .biography .profile .text a:active {
    color: #6234fc;
}

#landing-page .title {
    margin: 50px;

    font-family: 'Cutive Mono', monospace;
    font-size: calc(2rem + 4vw);
    font-weight: 900;
    line-height: 1.15;
    text-align: center;
    color: var(--title-color);

    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

#landing-page .title .bold {
    display: inline-block;

    text-align: center;
    text-indent: 5px;
    letter-spacing: 5px;
    color: var(--title-bold-color);

    background: var(--title-bold-background) center;
}

#landing-page .title .scramble {
    opacity: .15;
}

@media (prefers-color-scheme: light) {
    #landing-page .biography .profile .text {
        color: #000;
    }

    #landing-page .biography .profile .text .mark {
        color: #FFF;
        background: #000C;
    }
}

@media only screen and (max-width: 900px) {
    /* TODO: small screens & portrait mode */
    /* Background grid looks good up to a screen width 900px */
} 